.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio52-section {
    background-image: url("../img/portfolio52_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-image: url("../img/collection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.collecting-content-wrapper {
    background-color: rgb(221,221,221);
    padding: 0px 15px 15px 15px;
}

.community-section {
    display: flex;
    margin: 10px;
}

.community-section > article {
    flex-basis: 50%;
    margin: 10px;
}

.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-crop {
    max-width: 100px;
    max-height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.logo {
    display: inline;
    margin: 0px auto;
    height: 100%;
    width: auto;
}

/*tlacitkum mozna chybi margin: 20px auto 0px auto;*/