.designers-content-wrapper {
    background-color: rgb(221, 221, 221);
    padding: 0px 15px 15px 15px;
}

.designer-container {
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.designer-container:last-child {
    margin-bottom: 0px;
}

.card-designs {
    display: flex;
    width: 100%;
    padding: 5px;
}

.card-designs > img {
    max-width: 20%;
    padding: 10px;
}

.designer-profile-img {
    max-width: 25%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
}

.description p {
    padding: 0px;
}