.page-content-wrapper {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 0px;
}

.intro-section {
    margin-bottom: 25px;
}

.manufacturers-section > article {
    margin-bottom: 10px;
}

.manufacturers-section:last-child {
    margin-bottom: 0px;
}

.manufacturers-section > article > figure {
    background-color: white;
    text-align: center;
    margin: 10px 0px 0px 0px;
    height: 100px;
    max-height: 200px;
    overflow: hidden;
}

figure > img {
    max-height: 100%;
}