.page-content-wrapper {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 0px;
}

.intro-section {
    margin-bottom: 25px;
}

.manufacturers-section > article {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manufacturers-section:last-child {
    margin-bottom: 0px;
}

.manufacturers-section > article > figure {
    background-color: white;
    text-align: center;
    margin: 10px 0px 0px 0px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

article > h2 {
    width: 100%;
}

article {
    padding-bottom: 15px;
}

figure > img {
    max-height: 100%;
}