* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    font-size: small;
    text-align: center;
    padding: 20px 0px;
    cursor: crosshair;
    border-radius: 0px 0px 10px 10px;
}

.suits-img {
    height: 40px;
    margin: 0px auto;
}

.welcome > p {
    margin: 0px;
}

header h1 {
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

nav {
    margin-top: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

nav ul > li {
    padding: 5px;
}

nav .current-page {
    background-color: rgb(161, 0, 0);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: crosshair;
}

nav a:hover:not(.current-page) {
    background-color: rgba(161, 0, 0, 0.3);
}